@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("./fonts/#{$file_name}.woff2") format("woff2"), url("./fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font("SFUIDisplay", "SFUIDisplay-Light", 300, normal);
@include font("SFUIDisplay", "SFUIDisplay-Regular", 400, normal);
@include font("SFUIDisplay", "SFUIDisplay-Semibold", 600, normal);
